html, body {margin: 0;
font-family: sans-serif;}
html {font-size:10px;}

body {
	background-color: #e9ece5;
}

main {
	margin:5rem;
}
.navbar {
	background-color: #3b3a36;
}

div.navbar-header{
	width:100%;
}

.navbar-brand{
	color:#FFFFFF;
} 

a.navbar-brand:hover {
	color:#c0dfd9;
}

#signout {
	float:right;
}


.footer {
	background-color: #050505;
}

.socials {
	color:#FF0099;
}

.jumbotron {
	background-color: #b3c2bf;
	margin:5rem;
	

}

.jumbotron h1{
	color:#555;


}

.jumbotron h2 {
	color:#555;
}

.well {
	background-color: #e9ece5;
	/*padding: 5rem; */
	margin: 5rem;
	margin-left:10rem;
	margin-right:10rem;
	/*border: 2px solid #105c66; */

	border: none; 
    border-radius: 0px; 

	font-weight: bold;

}

.well p{
	
	font-size: 2rem;
	color:#555;


}	

.button {
	background-color:#b3c2bf; 
	width:35rem;
	border-radius: 0px;
	margin-top: 4rem;
	margin:2rem;
	border: 2px solid black;
}
 

span.sobercounter{
	font-size: 40px;
	font-family: garamond;
}


