html, body {margin: 0;}
html {font-size:10px;}

body {
	background-color: #FFFFFF;
}

main {
	margin:5rem;
}
.navbar {
	background-color: #050505;
}

.navbar-brand{
	color:#FFFFFF;
}


.footer {
	background-color: #050505;
}

.socials {
	color:#FF0099;
}

.jumbotron {
	background-color: #1B9AAA;
	margin:5rem;
	border:solid #050505;
	border-radius:2rem;
}

.jumbotron h1{
	color:#050505;


}

.jumbotron h2 {
	color:#050505;
}

.well {
	background-color: #DDDBCB;
	padding: 5rem;
	margin: 5rem;
	margin-left:10rem;
	margin-right:10rem;
	border:solid #050505;
	font-weight: bold;
	border-radius:2rem;
}

.well p{
	font-weight: bold;
	font-size: 2rem;

}	

button {
	background-color:#DDDBCB;
	width:35rem;
	border:solid #050505;
}


